:root {
    --body-background: #f4f4f9;
    --btn-primary: #FA4032;
    --btn-all: #ffff00;
    --btn-completed: #73EC8B;
    --btn-pending: #FF6600
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
}

.container {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
}

#todo-input {
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 2px;
}

#add {
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--btn-primary);
    border-radius: 5px;
}

#all {
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--btn-all);
    border-radius: 5px;
    margin-top: 5px;
}

#completed {
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--btn-completed);
    border-radius: 5px;
    margin-top: 5px;
}

#pending {
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    background-color: var(--btn-pending);
    border-radius: 5px;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: aliceblue;
}